.text {
    color: white;
    text-align: center;
    letter-spacing: 4px;
    position: relative;
    top: 250px;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}


    body {
        background-color: black;
      }
            .copyrights {
        color: grey;
        text-align: center;
        position: fixed;
        bottom: 30px;
        width: 100%;
      }
/* ===== MOBILE FIX ===== */

@media (max-width: 600px) {

  .copyrights {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin: 4em auto 1em;
    text-align: center;
  }
}



/* ===== Purple text fix  ===== */

a,
a:visited,
a:active,
a:hover {
	color: #ebebe9;
	text-decoration: none;
}

/* ===== Disable text selection  ===== */

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

