/* ===== RESET ===== */
body {
  margin: 0;
  background-color: black;
  min-height: 100vh;

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
}

/* ===== MAIN TEXT ===== */
.text {
  color: white;
  text-align: center;
  letter-spacing: 4px;
  font-family: "Zalando Sans Expanded", sans-serif;
}

/* ===== COPYRIGHT ===== */
.copyrights {
  position: fixed;
  bottom: 20px;
  width: 100%;

  color: grey;
  text-align: center;
  font-size: 0.85rem;
}

/* ===== LINK COLOR FIX ===== */
a,
a:visited,
a:active,
a:hover {
  color: #ebebe9;
  text-decoration: none;
}

/* ===== DISABLE TEXT SELECTION ===== */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
