.text {
    color: whitesmoke;
    text-align: center;
    letter-spacing: 4px;
    position: relative;
    top: 250px;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}


    body {
        background-color: #212121;
      }

      .copyrights {
        color: grey;
        text-align: center;
        position: fixed;
        bottom: 30px;
        width: 100%;
      }
      
